@font-face {
  font-family: 'Eames';
  src: url('../fonts/eames-black.otf') format('opentype');
}

@font-face {
  font-family: 'Knockout-52';
  src: url('../fonts/Knockout-52.otf') format('opentype');
}
@font-face {
  font-family: 'Knockout-31';
  src: url('../fonts/Knockout-31.otf') format('opentype');
}
@font-face {
  font-family: 'Knockout-71';
  src: url('../fonts/Knockout-71.otf') format('opentype');
}